.content
  .container
    .row
      .col-xl-4.col-lg-4.col-md-6.col-sm-6.col-6.pb-2
        .location-card
          .location-card-img.location-card-img5
            %img.img-fluid.rounded{:alt => "", :src => "./images/location-img-6.jpg"}/
          .card-img-overlay.text-center
            .location-img-content
        %p.text-center Chicago
      .col-xl-4.col-lg-4.col-md-6.col-sm-6.col-6.pb-2
        .location-card
          .location-card-img.location-card-img5
            %img.img-fluid.rounded{:alt => "", :src => "./images/location-img-6.jpg"}/
          .card-img-overlay.text-center
            .location-img-content
        %p.text-center Chicago
      .col-xl-4.col-lg-4.col-md-6.col-sm-6.col-6.pb-2
        .location-card
          .location-card-img.location-card-img5.pb-2
            %img.img-fluid.rounded{:alt => "", :src => "./images/location-img-6.jpg"}/
          .card-img-overlay.text-center
            .location-img-content
        %p.text-center Chicago
