.container
  .row
    .col-6
      %h3 Female Personalities
    .col-3
    .col-3
      .form-group
        %select.wide{:name => "selectvendor"}
          %option{:value => "Vendor Purpose"} Vendor Purpose
          %option{:value => "Couple"} Couple
          %option{:value => "Pricing"} Pricing
          %option{:value => "Vendor"} Vendor
          %option{:value => "Advertise with us"} Advertise with us
  %hr
  .row
    .col-xl-4.col-lg-4.col-md-6.col-sm-6.col-6.pb-2.lady-card
      .location-card
        .location-card-img.location-card-img5
          %img.lady-img.img-fluid.rounded{:alt => "", :src => "./images/location-img-6.jpg"}/
        .card-img-overlay.text-center
          .location-img-content
      %p.text-center Chicago
    .col-xl-4.col-lg-4.col-md-6.col-sm-6.col-6.pb-2.lady-card
      .location-card
        .location-card-img.location-card-img5
          %img.lady-img.img-fluid.rounded{:alt => "", :src => "./images/location-img-6.jpg"}/
        .card-img-overlay.text-center
          .location-img-content
      %p.text-center Chicago
    .col-xl-4.col-lg-4.col-md-6.col-sm-6.col-6.pb-2.lady-card
      .location-card
        .location-card-img.location-card-img5.pb-2
          %img.lady-img.img-fluid.rounded{:alt => "", :src => "./images/location-img-6.jpg"}/
        .card-img-overlay.text-center
          .location-img-content
      %p.text-center Chicago
