.list-single-carousel
  .owl-carousel.owl-theme.owl-second
    .item
      %img{:alt => "", :src => "./images/vendor-carousel-img-1.jpg"}/
    .item
      %img{:alt => "", :src => "./images/vendor-carousel-img-2.jpg"}/
    .item
      %img{:alt => "", :src => "./images/vendor-carousel-img-3.jpg"}/
    .item
      %img{:alt => "", :src => "./images/vendor-carousel-img-4.jpg"}/
    .item
      %img{:alt => "", :src => "./images/vendor-carousel-img-2.jpg"}/
    .item
      %img{:alt => "", :src => "./images/vendor-carousel-img-1.jpg"}/
    .item
      %img{:alt => "", :src => "./images/vendor-carousel-img-4.jpg"}/
    .item
      %img{:alt => "", :src => "./images/vendor-carousel-img-2.jpg"}/
    .item
      %img{:alt => "", :src => "./images/vendor-carousel-img-3.jpg"}/
    .item
      %img{:alt => "", :src => "./images/vendor-carousel-img-4.jpg"}/
    .item
      %img{:alt => "", :src => "./images/vendor-carousel-img-2.jpg"}/
    .item
      %img{:alt => "", :src => "./images/vendor-carousel-img-1.jpg"}/
.list-single-second
  .container
    %div
      .row
        .col-xl-8.col-lg-8.col-md-8.col-sm-12.col-12
          .vendor-head.text-left
            %h2.mb10 Heading Title for Wedding Venue
        .col-xl-4.col-lg-4.col-md-4.col-sm-12.col-12
          .vendor-head.text-xl-right
            %a.btn-default-wishlist{:href => "#"}
              %i.fa.fa-heart
              %span.pl-1 Add To Wishlist
    .vendor-meta.bg-white.border.m-0
      .vendor-meta-item.vendor-meta-item-bordered
        %span.vendor-price
          $150
        %span.vendor-text Start From
      .vendor-meta-item.vendor-meta-item-bordered
        %span.vendor-guest
          120+
        %span.vendor-text Guest
      .vendor-meta-item.vendor-meta-item-bordered
        %span.rating-star
          %i.fa.fa-star.rated
          %i.fa.fa-star.rated
          %i.fa.fa-star.rated
          %i.fa.fa-star.rated
          %i.fa.fa-star.rate-mute
        %span.rating-count.vendor-text (20)
.vendor-content-wrapper
  .container
    .row
      .col-12
        / vendor-details
        %div
          .card.border.card-shadow-none
            %h3.card-header.bg-white Accommodations / Amenities Included
            .card-body
              .row
                .col-6
                  .animities-list
                    %ul.list-unstyled.arrow
                      %li Air conditioning
                      %li Bathroom
                      %li Hair Dryer
                      %li Kitchen
                      %li Linen supplied
                      %li Non-smoking
                      %li Open fireplace
                .col-6
                  .animities-list
                    %ul.list-unstyled.arrow
                      %li Parking
                      %li Pet-friendly
                      %li Towels supplied
                      %li TV
                      %li Washing machine
                      %li Wheelchair
                      %li Access Wifi
          .card.border.card-shadow-none
            %h3.card-header.bg-white About Wedding Venue
            .card-body
              / /.vendor-details
              / vendor-description
              %p.lead Duis vulputate ultrices odio, vitae tristique lectus dapibus sit amet. Vivamus iaculis sagittis libero, at mollis ante semper eu.
              %p Duis vulputate ultrices odio, vitae tristique lectus dapibus sit amet. Vivamus iaculis sagittis lisus libero, a aliquet odio pretium non. Curabitur at porta ex, eu pretium felis. Fusce mattis efficitur nisi, non pretium nulla luctus sit amet.
              %p Etiam varius ultricies augue, in ornare lorem congue eu. Aliquam magna metus, rhoncus a pellentesque tincidunt, accumsan ut urna. Sed congue turpis sit amet urna interdum, ut consequat dolor rhoncus
              %h4 Sub heading
              %p Etiam placerat dictum dolor ac volutpat. Cras egestas laoreet risus id elementum. Etiam ultrices vitae dui ut finibus. In ac rhoncus mauris, aliquet efficitur erat. Sed laoreet luctus tellus vel porttitor. Aliquam non tellus in eros congue fermentum. Nulla tincidunt volutpat ligula, non rutrum lectus luctus quis.
              %p
                Donec accumsan consequat massa non gravida.
                %span.text-default Morbi pharetra mollis tortor ac maximus.
                Nunc dapibus bibendum urna, in egestas dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              / venue-highlights
              .venue-highlights
                .table-responsive
                  %table.table.table-bordered
                    %thead
                      %tr
                        %th{:scope => "col"} Venue Highlights
                        %th{:scope => "col"}
                    %tbody
                      %tr
                        %td Maximum Capacity
                        %td.venue-highlight-meta 350
                      %tr
                        %td Guest Minimum
                        %td.venue-highlight-meta 40
                      %tr
                        %td Style
                        %td.venue-highlight-meta Barn, Mansion, Winery
                      %tr
                        %td Event Spaces
                        %td.venue-highlight-meta Outdoorsy, Rustic/Country, Unique
              / /.venue-highlights
          / vendor-description
          / aminities-block
