
@media only screen and (max-width: 720px) {
  .desktop{
    display: none;
  }
  .peo-img{
    height: 230px;
  }
  .lady-card{
    padding: 0.3rem;
  }
  .lady-img{
    height: 250px;
    width: 100%;
  }
  .pre-show-img{
    height: 480px;
  }

  .status {
    position: absolute;
    top: 7%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
}
@media only screen and (min-width: 992px){
  .mobile{
    display: none;
  }
  .peo-img{
    height: 280px;
  }
  .pre-show-img{
    height: 510px;
  }
  .lady-img{
    height: 500px;
    width: 100%;
  }
  .female-header{
    padding-top: 10px;
  }

.status {
  position: absolute;
  top: 4%;
  left: 94%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
}
