
@media only screen and (max-width: 720px) {
  .desktop{
    display: none;
  }
  .peo-img{
    height: 230px;
  }
  .lady-card{
    padding: 0.3rem;
  }
  .lady-img{
    height: 250px;
  }
 
}
@media only screen and (min-width: 992px){
  .mobile{
    display: none;
  }
  .lady-img{
    height: 500px;
  }
  .female-header{
    padding-top: 10px;
  }
}
