.footer
  .container
    .row
      .col-xl-4.col-lg-4.col-md-4.col-sm-6.col-12
        / footer-widget
        .footer-widget
          %h5
            = link_to 'My Dream Dates', root_path, class: 'text-default'
          %p.mb10 My Dream Dates is a place to find companionship for coffee dates, movies and beyond.
      / /.footer-widget
      / footer-widget
      .col-xl-3.col-lg-3.col-md-4.col-sm-6.col-12
        .footer-widget
          %h3.widget-title
            Contact Us
          %p.d-flex
            %i.fas.fa-fw.fa-map-marker-alt.text-default.pr-3.pt-1>
            4998 Elk Creek Road Canton,
            %br/
            GA 30114
          %p.mb0.d-flex
            %i.fas.fa-fw.fa-envelope.text-default.pr-3.pt-1>
            mydreamdates@mydreamdates.com
      / /.footer-widget
      / footer-widget
      .col-xl-2.col-lg-2.col-md-4.col-sm-6.col-12
        .footer-widget
          %h3.widget-title
            About Company
          %ul.listnone
            %li
              = link_to 'Ladies', personals_path(ladies: true)
            %li
              = link_to 'Men', personals_path(men: true)
            %li
              = link_to 'Join us on Facebook'
      / /.footer-widget
      / /.footer-widget
      .col-xl-3.col-lg-3.col-md-12.col-sm-6.col-12
        .footer-widget.newsletter-block
          %h3.widget-title
            All Rights Reserved.
          %ul.listnone
            %li My Dream Dates
      / /.footer-widget
  / tiny-footer-section
  %a#return-to-top{:href => "javascript:"}
    %i.fa.fa-angle-up
  :javascript
    jQuery(document).ready(function($){
      "use strict";
            // ===== Scroll to Top ==== 
    $(window).scroll(function() {
        if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });

    });
